<html xmlns="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:nca="http://typo3.org/ns/WapplerSystems/Ncaext/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	<f:section name="main">



		<f:render partial="Profile/Properties" arguments="{profile:profile}" />

		<hr />

		<f:link.action class="btn btn-primary" action="list">Back to list</f:link.action>
		<br/>
		<f:link.action class="btn btn-primary" action="new">New Profile</f:link.action>
	</f:section>
</html>